header{
    .top-header{
        background-color: $primary-color;
    }
    .navigation-bar{
        nav{
            ul{
                li{
                    text-transform: uppercase;
                    &:hover{
                        color: $primary-color;
                    }
                }
            }
        }
        img{
            height: 40px;
        }
        .right-content{
            button{
                background-color: transparent;
                border: none;
                font-style: italic;
            }
        }
    }
}